<html>
    <head>
        <title>Home Page</title>
        <style>
            body{
                background-color: black;
                color: blue;
                font-size: 30px;
            }

              
        </style>
    </head>
    <body>
        {% load static %}
        <center><h1>Welcome Khalli Walli :-)</h1></center>
        <center>
                    <img src="{% static 'avatar_img3.png' %}" alt="Avatar" width="500" height="500">
                </div>

        </center>
    </body>

</html>